In [17]:
import os
import pandas as pd
print(os.path.exists("users.db"))

True

In [18]:
from sqlalchemy import create_engine, inspect
from pathlib import Path

db_path = Path("users.db").resolve()  # note a barra normal
if not db_path.exists():
    raise FileNotFoundError(f"Banco não encontrado: {db_path}")

engine = create_engine(f'sqlite:///{db_path}')
insp = inspect(engine)
tabelas = insp.get_table_names()

print("Tabelas encontradas no banco:")
for t in tabelas:
    print("-", t)

Tabelas encontradas no banco:
- images
- user_registration

In [19]:
import pandas as pd
database = 'sqlite:///' + r'users.db'
df = pd.read_sql_table('user_registration', database)
df

Empty DataFrame
Columns: [id, infopen, nome_completo, cpf, rua, bairro, numero, municipio, ueop, cia, restricoes_judiciais, imagem_perfil, data_modificacao, latitude, longitude, image_hash]
Index: []

In [13]:
import pandas as pd
database = 'sqlite:///' + r'users.db'
df = pd.read_sql_table('images', database)
df

,id,infopen,image_b64,created_at
0,1,99999999,iVBORw0KGgoAAAANSUhEUgAAAk4AAAHjCAYAAADVM5BYAA...,2025-12-23 16:59:30.198863

In [16]:
import sqlite3
import pandas as pd

# Caminho do banco SQLite
db_path = "users.db"

# Conexão
conn = sqlite3.connect(db_path)

# Query com LEFT JOIN
query = """
SELECT
    u.*,
    i.image_b64
    
FROM user_registration u
LEFT JOIN images i
    ON u.infopen = i.infopen
"""

# Carrega no DataFrame
df = pd.read_sql_query(query, conn)

# Fecha conexão
conn.close()

# Visualizar
df.head()

,id,infopen,nome_completo,cpf,rua,bairro,numero,municipio,ueop,cia,restricoes_judiciais,imagem_perfil,data_modificacao,latitude,longitude,image_hash,image_b64
0,1,99999999,teste,,,,,,7º BPM,50ª CIA,,99999999,2025-12-23 16:59:30.201837,-20.162674,-44.903183,ad8e27787ce60b429dfcaf9197cb98d09b188820a53c2d...,iVBORw0KGgoAAAANSUhEUgAAAk4AAAHjCAYAAADVM5BYAA...