In [3]:
import os
import pandas as pd
print(os.path.exists("users.db"))

True

In [4]:
from sqlalchemy import create_engine, inspect
from pathlib import Path

db_path = Path("users.db").resolve()  # note a barra normal
if not db_path.exists():
    raise FileNotFoundError(f"Banco não encontrado: {db_path}")

engine = create_engine(f'sqlite:///{db_path}')
insp = inspect(engine)
tabelas = insp.get_table_names()

print("Tabelas encontradas no banco:")
for t in tabelas:
    print("-", t)

Tabelas encontradas no banco:
- images
- judiciary
- user_registration

In [10]:
import pandas as pd
database = 'sqlite:///' + r'users.db'
df = pd.read_sql_table('user_registration', database)
df

,id,infopen,nome_completo,cpf,rua,bairro,numero,municipio,ueop,cia,restricoes_judiciais,latitude,longitude,data_modificacao,telefone,observacoes
0,1,99999999,teste,,teste,Jardim Nova América,,DIVINOPOLIS,7º BPM,50ª CIA,,-20.161868,-44.908161,2025-12-30 13:44:06.075733,,
1,2,je,8888,00000000000,,,,ESTRELA DO INDAIA,7º BPM,50ª CIA,xdg,-20.134133,-44.891922,2025-12-30 14:05:09.162864,etrt,gdfgf

In [5]:
import pandas as pd
database = 'sqlite:///' + r'users.db'
df = pd.read_sql_table('images', database)
df

,id,infopen,image_b64,imagem_perfil,image_hash,created_at
0,1,704811,/9j/4AAQSkZJRgABAQEAYABgAAD/2wBDAAMCAgMCAgMDAw...,704811,467743f42cc5fcf04ea65d4e3bab03458eb04d80dc49db...,2025-12-30 14:21:37.948514
1,2,725409,/9j/4AAQSkZJRgABAQEAYABgAAD/2wBDAAMCAgMCAgMDAw...,725409,39502b0ec5cc3baf89f2e33387747123c2bb57d17c5d21...,2025-12-30 15:17:52.822596
2,3,390613,/9j/4AAQSkZJRgABAQEAYABgAAD/2wBDAAMCAgMCAgMDAw...,390613,485f38f790803c0338b43a4c37491edef58a8335022134...,2025-12-30 15:25:26.352565
3,4,440992,/9j/4AAQSkZJRgABAQEAYABgAAD/2wBDAAMCAgMCAgMDAw...,440992,6f17d6fcb7a3e70031051e68ee714527a497b746ac403f...,2026-01-13 19:17:17.917350
4,5,713620,/9j/4AAQSkZJRgABAQEAYABgAAD/2wBDAAMCAgMCAgMDAw...,713620,31a7cb409aca75f31562d2ba6a738ebf6cff941ed49a33...,2026-01-13 19:49:30.301774
5,6,484288,/9j/4AAQSkZJRgABAQEAYABgAAD/2wBDAAMCAgMCAgMDAw...,484288,591701c1774b4f9227a2de6de663b2264de84d00e4fa86...,2026-01-14 09:40:30.223610
6,7,405179,/9j/4AAQSkZJRgABAQEAYABgAAD/2wBDAAMCAgMCAgMDAw...,405179,0bb9fe72f2935c869c25fb3a6424b0c0be0fa3cb99e274...,2026-01-14 10:04:46.563612
7,8,650791,/9j/4AAQSkZJRgABAQEAYABgAAD/2wBDAAMCAgMCAgMDAw...,650791,7d5036f50df6e2269e050af7ecbe29e633d130407866f3...,2026-01-14 10:26:47.237020
8,9,655091,/9j/4AAQSkZJRgABAQEAYABgAAD/2wBDAAMCAgMCAgMDAw...,655091,54f48399f767dcfc49dea9f00b827fc123d22dc82b8fff...,2026-01-15 14:56:51.079556
9,10,710695,/9j/4AAQSkZJRgABAQEAYABgAAD/2wBDAAMCAgMCAgMDAw...,710695,70aad4f257a63eb37f55e688c8a4964e0941557559c096...,2026-01-15 15:01:19.184593
10,11,1180187,/9j/4AAQSkZJRgABAQEAYABgAAD/2wBDAAMCAgMCAgMDAw...,1180187,8562efb69c8e7f12dde8dfcdf3ad115424c5fe71da8d98...,2026-01-15 15:28:47.589495
11,12,1053488,/9j/4AAQSkZJRgABAQEAYABgAAD/2wBDAAMCAgMCAgMDAw...,1053488,9bd00edd93c320010e31c41e2fc291caa96da71751baaf...,2026-01-15 15:41:06.299830
12,13,956228,/9j/4AAQSkZJRgABAQEAYABgAAD/2wBDAAMCAgMCAgMDAw...,956228,4d912f8ab02aea498a14a6e4b7baf691d39710853b908c...,2026-01-15 15:50:16.322762
13,14,563734,/9j/4AAQSkZJRgABAQEAYABgAAD/2wBDAAMCAgMCAgMDAw...,563734,80f25acad2c232db6ae3479f50da0c162274cde6060c7e...,2026-01-15 15:54:03.315289
14,15,893277,/9j/4AAQSkZJRgABAQEAYABgAAD/2wBDAAMCAgMCAgMDAw...,893277,36ce11b08fe285311115b002c1b664b334b6df076b0f1f...,2026-01-15 15:57:51.067242
15,16,1094072,iVBORw0KGgoAAAANSUhEUgAAAMEAAADzCAYAAAA/8HI6AA...,1094072,90c6554fd1e1e0d8bff887cf58faf87eec10ffa9f25718...,2026-01-15 16:03:44.005054

In [6]:
import pandas as pd
database = 'sqlite:///' + r'users.db'
df = pd.read_sql_table('judiciary', database)
df

,id,infopen,data_notificacao,numero_seeu,protocolo,anotacoes,data_registro
0,1,440992,2026-01-22,,,,2026-01-16 11:13:59.123110
1,2,704811,2026-01-19,,,,2026-01-16 11:19:54.933888
2,3,704811,NaT,,,,2026-01-16 11:37:33.804373

In [12]:
import sqlite3
import pandas as pd

# Caminho do banco SQLite
db_path = "users.db"

# Conexão
conn = sqlite3.connect(db_path)

# Query com LEFT JOIN
query = """
SELECT
    u.*,
    i.image_b64
    
FROM user_registration u
LEFT JOIN images i
    ON u.infopen = i.infopen
"""

# Carrega no DataFrame
df = pd.read_sql_query(query, conn)

# Fecha conexão
conn.close()

# Visualizar
df.head()

,id,infopen,nome_completo,cpf,rua,bairro,numero,municipio,ueop,cia,restricoes_judiciais,latitude,longitude,data_modificacao,telefone,observacoes,image_b64
0,1,99999999,teste,,teste,Jardim Nova América,,DIVINOPOLIS,7º BPM,50ª CIA,,-20.161868,-44.908161,2025-12-30 13:44:06.075733,,,iVBORw0KGgoAAAANSUhEUgAAAVoAAAD2CAYAAACX+E9XAA...
1,2,je,8888,00000000000,,,,ESTRELA DO INDAIA,7º BPM,50ª CIA,xdg,-20.134133,-44.891922,2025-12-30 14:05:09.162864,etrt,gdfgf,iVBORw0KGgoAAAANSUhEUgAAAn8AAAMrCAYAAAA4JvSuAA...

In [14]:
%%time
result = r"D:\Cloud\Jupyter\impala\producao\egressos\app\instance\tbl_exits.xlsx"

with pd.ExcelWriter(result) as save:
   # df_ipq.to_excel(save, sheet_name    ='tbl_ipq', index = False)
    df.to_excel(save, sheet_name='tbl_exits', index = False)

CPU times: total: 62.5 ms
Wall time: 58 ms

In [17]:
import csv

df.to_csv(
    result,
    index=False,
    encoding="utf-8-sig",
    sep=";",
    quoting=csv.QUOTE_ALL
)

In [15]:
result = r"D:\Cloud\Jupyter\impala\producao\egressos\app\instance\tbl_exits.csv"

df.to_csv(
    result,
    index=False,
    encoding="utf-8-sig",
    sep=";"
)